{% if sessionusername %}
<script type="text/javascript">
$("#char-loggedout").remove();
$("#contest-logged-in").removeClass('hidden');
$("#loginforapi").remove();
$("#username").text("{{ sessionusername }}");
$("#char-image").attr("src", "{{ image_character }}{{ characterID }}/portrait?size=32");

showAds = {{ showAds }};
{% if showAds != 0 %}
    loadads();
    otherBanners();
{% endif %}

{% if style != 'cyborg' %}
$("#mainstyle").attr("href", "https://netdna.bootstrapcdn.com/bootswatch/latest/{{ style }}/bootstrap.min.css");
$("#nextstyle").attr("href", "/css/style-edits/{{ style }}-main.css");
$(".zkblogo").hide();
{% endif %}

var showAdd = true;
{% for data in tracker_character %}
showAdd = showAdd && ($("#tracker-remove-character-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}
{% for data in tracker_corporation %}
showAdd = showAdd && ($("#tracker-remove-corporation-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}
{% for data in tracker_alliance %}
showAdd = showAdd && ($("#tracker-remove-alliance-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}
{% for data in tracker_faction %}
showAdd = showAdd && ($("#tracker-remove-faction-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}
{% for data in tracker_ship %}
showAdd = showAdd && ($("#tracker-remove-ship-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}
{% for data in tracker_group %}
showAdd = showAdd && ($("#tracker-remove-group-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}
{% for data in tracker_system %}
showAdd = showAdd && ($("#tracker-remove-system-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}
{% for data in tracker_constellation %}
showAdd = showAdd && ($("#tracker-remove-constellation-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}
{% for data in tracker_region %}
showAdd = showAdd && ($("#tracker-remove-region-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}

{% for killID in favorites %}
$(".fav-star-" + {{ killID }}).css("color", "#FDBC2C");
{% endfor %}

if (showAdd) $("#tracker-add").removeClass("hidden");

console.log("nav loaded");
</script>
{% if tracker_character %}
<li class="dropdown-header">Characters</li>
{% for data in tracker_character %}
<li><a href="/character/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_corporation %}
<li class="dropdown-header">Corporations</li>
{% for data in tracker_corporation %}
<li><a href="/corporation/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_alliance %}
<li class="dropdown-header">Alliances</li>
{% for data in tracker_alliance %}
<li><a href="/alliance/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_faction %}
<li class="dropdown-header">Factions</li>
{% for data in tracker_faction %}
<li><a href="/faction/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}

{% endif %}

{% if tracker_ship %}
<li class="dropdown-header">Ships</li>
{% for data in tracker_ship %}
<li><a href="/ship/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_group %}
<li class="dropdown-header">Groups</li>
{% for data in tracker_group %}
<li><a href="/group/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_system %}
<li class="dropdown-header">Systems</li>
{% for data in tracker_system %}
<li><a href="/system/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_constellation %}
<li class="dropdown-header">Constellations</li>
{% for data in tracker_constellation %}
<li><a href="/constellation/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_region %}
<li class="dropdown-header">Regions</li>
{% for data in tracker_region %}
<li><a href="/region/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

<li class="divider"></li>
<li class="dropdown-header">* Cannot be removed.</li>

{% else %}

<script type="text/javascript">
$("#char-loggedin").remove();
$("#lasthour").text("{{ killsLastHour | number_format(0)}}");
$("#tqStatus").html("{% if tqStatus == 'OFFLINE'%}<span class='red'>TQ {{ tqCount }}</span>{% else %} <span class='green'>TQ {{ tqCount }}</span>{% endif %}");
$("#tracker-none").removeClass("hidden");
$("#savefit").remove();
$("#nosavefit").removeClass("hidden");
$("#char-image").attr("src", "{{ image_character }}1/portrait?size=32");
</script>
<li>Please log in first.</li>

{% endif %}
